.container{
  width: 100%;
  height: calc(100vh - 74px);
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.logoContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  
}



.tittle{
  color:#ffff;
  margin: 28px;
  text-align: center;
  line-height: 150%;
  
}



.img{
  max-width: 480px;
  width: auto;
  height: auto;
  object-fit: contain;
  

}


.dadoss{
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.4s;

 
 
}





.section{
  background-color: #fafafa;
  padding: 14px 44px;
  border-radius: 4px;
  transition: transform 0.4s;
}

.section:hover{

  transform: scale(1.08);
}


@media screen and (max-width: 580px){

.dadoss{
  flex-direction: column;
  gap: 10px;
}

.section{
  width: 80%;
  text-align: center;

}

.tittle{
font-size: 26px;
}

}

.img{
  width: 80%;
}